:root {
  --color-primary: #004AC6;        /* Azul */
  --color-accent: #FFC107;         /* Amarillo */
  

  --color-forms: #16A34A;          /* Verde */
  --color-links: #CA8A04;          /* Amarillo oscuro */
  --color-headings: #CA8A04;       /* Amarillo oscuro */

  --color-critical: #BA1A1A;       /* Rojo */
  --color-serious: #EAB308;        /* Amarillo */
  --color-medium: #EAB308;         /* Amarillo */
  

  --color-background: #FAF8FF;     /* Gris muy claro */
  --color-border: #C3C6D7;         /* Gris */
  --color-text: #131B2E;           /* Gris oscuro */
  --color-text-secondary: #434655; /* Gris medio */
}